
<section class="event">
  <div class = "details">
   <h1> Total Questions :  10</h1>
   <p>
      You can start your test, press the begin button... 
   </p>
  </div>
</section>

<section class="admin">
    <%= link_to "Begin", quiz_question_path, class: "button"%>
    <%= link_to "Cancel", root_path, class: "button"%>
</section>
